:root {
  --max-width: 1100px;

  --foreground: #121314;
  --background: #F9F9FC;

  --background-white: #FFFFFF;
  --background-grey: #CFD3D4;

  --background-primary: #5570F1;

  --primary-white: #FFFFFF;

  --error-primary: #cc0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background)
}

a {
  color: inherit;
  text-decoration: none;
}
