.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 4rem;
  width: 800px;
  background-color: var(--background-white);
  border: 1px solid #DDE2E6;
  border-radius: 8px;
}

.title {
  margin-bottom: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  gap: 5px;
  height: 110px;
}

.field input {
  height: 3rem;
  padding: 0px 12px;
  background-color: var(--background);
  border: 1px solid #CFD3D5;
  border-radius: 8px;
}

.error {
  color: var(--error-primary);
  font-size: 14px;
}

.button {
  background-color: var(--background-primary);
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  border-radius: 8px;
  color: var(--primary-white);
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}
